trigger:
  branches:
    include:
    - main
stages:
- stage: __default
  jobs:
  - job: Job
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'tf-connection'
        backendAzureRmOverrideSubscriptionID: 'c80009eb-ee93-4cdd-9d13-306768b946b1'
        backendAzureRmResourceGroupName: 'c2c-info-tech'
        backendAzureRmStorageAccountName: 'cloudskillacademy'
        backendAzureRmContainerName: 'terraformstate'
        backendAzureRmKey: 'terraform.tfstate'
        backendAzureRmUseCliFlagsForAuthentication: true
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'validate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'plan'
        commandOptions: '-out=tfplan'
        environmentServiceNameAzureRM: 'testconnection'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'apply'
        commandOptions: '-auto-approve'
        environmentServiceNameAzureRM: 'testconnection'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'
