trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: '1.6.6'

- script: |
    terraform init \
      -backend-config="access_key=$(TF_STATE_ACCESS_KEY)"
  displayName: Terraform Init

- script: terraform validate
  displayName: Terraform Validate

- script: terraform plan -out=tfplan
  displayName: Terraform Plan

- script: terraform apply -auto-approve tfplan
  displayName: Terraform Apply
