trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: '1.6.6'

- script: |
    terraform init \
      -backend-config="access_key=$(TF_STATE_ACCESS_KEY)"
  displayName: Terraform Init


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'validate'
  displayName: Terraform Validate
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    environmentServiceNameAzureRM: 'CloudSkillAcademy(c80009eb-ee93-4cdd-9d13-306768b946b1)'
  displayName: Terraform Plan

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'apply'
    environmentServiceNameAzureRM: 'CloudSkillAcademy(c80009eb-ee93-4cdd-9d13-306768b946b1)'
  displayName: Terraform Apply