trigger:
  branches:
    include:
    - main
stages:
- stage: __default
  jobs:
  - job: Job
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'tf-connection'
        backendAzureRmOverrideSubscriptionID: 'c80009eb-ee93-4cdd-9d13-306768b946b1'
        backendAzureRmResourceGroupName: 'c2c-info-tech'
        backendAzureRmStorageAccountName: 'cloudskillacademy'
        backendAzureRmContainerName: 'test'
        backendAzureRmKey: 'terraform.tfstate'