trigger:
  branches:
    include:
    - main
stages:
- stage: __default
  jobs:
  - job: Job
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendAzureRmUseCliFlagsForAuthentication: true
        backendAzureRmUseIdTokenGeneration: true
        backendServiceArm: 'testconnection'
        backendAzureRmResourceGroupName: 'c2c-info-tech'
        backendAzureRmStorageAccountName: 'cloudskillacademy'
        backendAzureRmContainerName: 'test'
        backendAzureRmKey: 'terraform.tfstate'