trigger:
  branches:
    include:
    - main
stages:
- stage: __default
  jobs:
  - job: Job
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: Terraform@2
      inputs:
        TemplatePath: '/'
        Arguments: 
        InstallTerraform: true
        UseAzureSub: true
        ConnectedServiceNameSelector: 'ConnectedServiceNameARM'
        ConnectedServiceNameARM: 'CloudSkillAcademy(c80009eb-ee93-4cdd-9d13-306768b946b1)'
        ManageState: true
        SpecifyStorageAccount: true
        StorageAccountResourceGroup: 'CloudSkillAcademy_Rg_01'
        StorageAccountRM: 'cloudskillacademy'
        StorageContainerName: 'test'